
*.vsidx
*.pdb
*\bin\Debug
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
net8.0/
.vs/Seekify/v17/.suo
Models/bin/Debug/net8.0/Models.deps.json
Models/bin/Debug/net8.0/Models.dll
Models/bin/Debug/net8.0/Models.pdb
Models/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Models/obj/Debug/net8.0/Models.AssemblyInfo.cs
Models/obj/Debug/net8.0/Models.AssemblyInfoInputs.cache
Models/obj/Debug/net8.0/Models.assets.cache
Models/obj/Debug/net8.0/Models.csproj.CoreCompileInputs.cache
Models/obj/Debug/net8.0/Models.csproj.FileListAbsolute.txt
Models/obj/Debug/net8.0/Models.dll
Models/obj/Debug/net8.0/Models.GeneratedMSBuildEditorConfig.editorconfig
Models/obj/Debug/net8.0/Models.GlobalUsings.g.cs
Models/obj/Debug/net8.0/Models.pdb
Models/obj/Debug/net8.0/ref/Models.dll
Models/obj/Debug/net8.0/refint/Models.dll
Models/obj/Models.csproj.nuget.dgspec.json
Models/obj/Models.csproj.nuget.g.props
Models/obj/Models.csproj.nuget.g.targets
Models/obj/project.assets.json
Models/obj/project.nuget.cache
Search/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Search/obj/Debug/net8.0/Search.AssemblyInfo.cs
Search/obj/Debug/net8.0/Search.AssemblyInfoInputs.cache
Search/obj/Debug/net8.0/Search.assets.cache
Search/obj/Debug/net8.0/Search.csproj.AssemblyReference.cache
Search/obj/Debug/net8.0/Search.GeneratedMSBuildEditorConfig.editorconfig
Search/obj/Debug/net8.0/Search.GlobalUsings.g.cs
Search/obj/project.assets.json
Search/obj/project.nuget.cache
Search/obj/Search.csproj.nuget.dgspec.json
Search/obj/Search.csproj.nuget.g.props
Search/obj/Search.csproj.nuget.g.targets
Search/Search.csproj.user
Seekify/.vs/Seekify/FileContentIndex/115ee328-42a4-40ab-ae09-f1701242a347.vsidx
Seekify/.vs/Seekify/v17/.suo
Seekify/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Seekify/obj/Debug/net8.0/Seekify.AssemblyInfo.cs
Seekify/obj/Debug/net8.0/Seekify.AssemblyInfoInputs.cache
Seekify/obj/Debug/net8.0/Seekify.assets.cache
Seekify/obj/Debug/net8.0/Seekify.GeneratedMSBuildEditorConfig.editorconfig
Seekify/obj/Debug/net8.0/Seekify.GlobalUsings.g.cs
Seekify/obj/project.assets.json
Seekify/obj/project.nuget.cache
Seekify/obj/Seekify.csproj.nuget.dgspec.json
Seekify/obj/Seekify.csproj.nuget.g.props
Seekify/obj/Seekify.csproj.nuget.g.targets
Seekify/Seekify.csproj.user
Seekify/.vs/ProjectEvaluation/seekify.metadata.v7.bin
Seekify/.vs/ProjectEvaluation/seekify.metadata.v7.bin
Seekify/.vs/ProjectEvaluation/seekify.metadata.v7.bin
Seekify/.vs/ProjectEvaluation/seekify.projects.v7.bin
Seekify/.vs/Seekify/config/applicationhost.config
Seekify/.vs/Seekify/v17/.futdcache.v2
Seekify/.vs/Seekify/v17/DocumentLayout.json
Seekify/.vs/Seekify/v17/.futdcache.v2
Seekify/.vs/Seekify/DesignTimeBuild/.dtbcache.v2
Seekify/.vs/ProjectEvaluation/seekify.projects.v7.bin
Seekify/.vs/ProjectEvaluation/seekify.metadata.v7.bin
*.bin
